---
import { render } from "astro:content";
import ContentLayout from "@layouts/ContentLayout.astro";
import { getProjects } from "../../content.config";
import RelatedProjects from "@content/components/RelatedProjects.astro";
import Tags from "@content/components/Tags.astro";

export async function getStaticPaths() {
	const projects = await getProjects();

	return projects.map(project => ({
		params: { id: project.id },
		props: { project },
	}));
}

const { project } = Astro.props;
const { Content, headings } = await render(project);
const {
	data: { name, description, draft, pubDate, githubUrl, related, tags, url },
} = project;
---

<>
	<ContentLayout title={name} headings={headings} tags={tags}>
		<h1>{name}</h1>
		<div class="mb-6 font-display font-medium text-gray-600">
			Published on {new Date(pubDate).toLocaleDateString()}
		</div>
		<Tags data={tags ?? []} />
		<Content />
		{related && <RelatedProjects slot="related-projects" id={project.id} />}
	</ContentLayout>
</>
